body{
    background-color: white;
  }
  .container{
    display: 'flex';
    background-color:whitesmoke;
    justify-content: center;
    text-align: center;
    height: '100vh',
  }
  .button{
    background-color:rgb(7, 122, 7);
  }
  .head{
    background-color: rgb(6, 6, 71);
    color: white;
  }